extends layout

block content  
  #wikiIndex
    .pageHeader
      h1 Wiki index

    .pageBody
      div.sort Sort by:
        ul.nav.nav-pills.sort
          - liClass = ('name' === sort ? 'active' : '')
          li(class=liClass)
            a(href="/index") Name
          - liClass = ('modified' === sort ? 'active' : '')
          li(class=liClass)
            a(href="/index?sort=modified") Last modified

      ul.pages
        - each page in pages
          li
            a(href="/" + page.name) #{page.name}

