doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    title= title

    // icons & favicons
    link(rel="shortcut icon", href="/img/favicon/logo_114x114.png")
  
    //if IE
      link(rel="shortcut icon", href="img/favicon/logo_32x32.ico")
    // set for IE10 win
    meta(name="msapplication-TileColor", content="#000")
    meta(name="msapplication-TileImage", content="/img/favicon/logo_144x144.png")

    // styles
    link(rel="stylesheet", href="/css/style.css")

    block head

  body
    block content






