extends layout

block content  
  h1.pageTitle #{title}

  .pageBody !{body}

  .lastEdit
    p Last edited <span class="author">!{ prettyPrintAuthor(lastEdit.author) }</span> <span class="date">!{ prettyPrintDate(lastEdit.date) }</span>
