// font-awesome

$fa-font-path:        "../fonts" !default;

// bootstrap

$brand-primary:         #428bca !default;
$brand-success:         #5cb85c !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;
$brand-info:            #5bc0de !default;

